<?xml version="1.0" encoding="UTF-8"?>

<launch>

  <!-- CROSSWALK SIGNS -->
  <node
		name  = "CWALK_K"
	 	pkg   = "gazebo_ros"
   		type  = "spawn_model"
   		args  = "-file $(find models_pkg)/crosswalk_sign/model.sdf -sdf -model CWALK_K -x 9.607 -y 4.277 -z 0.078998 -R 0  -P 0  -Y 3.141592"/>

  <node
		name  = "CWALK_L"
	 	pkg   = "gazebo_ros"
   		type  = "spawn_model"
   		args  = "-file $(find models_pkg)/crosswalk_sign/model.sdf -sdf -model CWALK_L -x 8.884 -y 3.398 -z 0.078998 -R 0  -P 0  -Y 0"/>

  <node
		name  = "CWALK_M"
	 	pkg   = "gazebo_ros"
   		type  = "spawn_model"
   		args  = "-file $(find models_pkg)/crosswalk_sign/model.sdf -sdf -model CWALK_M -x 1.8267 -y 10.2686 -z 0.078998 -R 0  -P 0  -Y 3.141592"/>

  <node
		name  = "CWALK_N"
	 	pkg   = "gazebo_ros"
   		type  = "spawn_model"
   		args  = "-file $(find models_pkg)/crosswalk_sign/model.sdf -sdf -model CWALK_N -x 1.2328 -y 9.3727 -z 0.078998 -R 0  -P 0  -Y 0"/>

  <node
		name  = "CWALK_O"
	 	pkg   = "gazebo_ros"
   		type  = "spawn_model"
   		args  = "-file $(find models_pkg)/crosswalk_sign/model.sdf -sdf -model CWALK_O -x 5.4464 -y 7.4025 -z 0.078998 -R 0  -P 0  -Y 1.570796"/>

  <node
		name  = "CWALK_P"
	 	pkg   = "gazebo_ros"
   		type  = "spawn_model"
   		args  = "-file $(find models_pkg)/crosswalk_sign/model.sdf -sdf -model CWALK_P -x 4.5026 -y 8.0503 -z 0.078998 -R 0  -P 0  -Y 4.712388"/>

</launch>
