<?xml version="1.0" encoding="UTF-8"?>

<launch>

  <!-- LEAVE HIGHWAY SIGNS -->
  <node
      name  = "LHIGH_U"
      pkg   = "gazebo_ros"
      type  = "spawn_model"
      args  = "-file $(find models_pkg)/leave_highway_sign/model.sdf -sdf -model LHIGH_U -x 6.3337 -y 12.4666 -z 0.078998 -R 0  -P 0  -Y -0.133770"/>
  
  <!-- <node
      name  = "LHIGH_Z"
      pkg   = "gazebo_ros"
      type  = "spawn_model"
      args  = "-file $(find models_pkg)/leave_highway_sign/model.sdf -sdf -model LHIGH_Z -x 6.520 -y -12.700 -z 0.078998 -R 0  -P 0  -Y 0"/> -->

  <node
      name  = "LHIGH_H"
      pkg   = "gazebo_ros"
      type  = "spawn_model"
      args  = "-file $(find models_pkg)/leave_highway_sign/model.sdf -sdf -model LHIGH_H -x 14.3279 -y 10.1428 -z 0.078998 -R 0  -P 0  -Y 2.915908"/>

</launch>
