<?xml version="1.0" encoding="UTF-8"?>

<launch>

  <!-- ONE WAY SIGNS -->
  <node
      name  = "ONEWAY_J"
      pkg   = "gazebo_ros"
      type  = "spawn_model"
      args  = "-file $(find models_pkg)/oneway_sign/model.sdf -sdf -model ONEWAY_J -x 15.6472 -y 0.6617 -z 0.078998 -R 0 -P 0 -Y -0.007836"/>

  <node
      name  = "ONEWAY_B"
      pkg   = "gazebo_ros"
      type  = "spawn_model"
      args  = "-file $(find models_pkg)/oneway_sign/model.sdf -sdf -model ONEWAY_B -x 14.7629 -y 4.2964 -z 0.078998 -R 0 -P 0 -Y -3.128763"/>
  
  <node
      name  = "ONEWAY_E"
      pkg   = "gazebo_ros"
      type  = "spawn_model"
      args  = "-file $(find models_pkg)/oneway_sign/model.sdf -sdf -model ONEWAY_E -x 15.0136 -y 3.379 -z 0.078998 -R 0 -P 0 -Y -1.534743"/>

  <node
      name  = "ONEWAY_F"
      pkg   = "gazebo_ros"
      type  = "spawn_model"
      args  = "-file $(find models_pkg)/oneway_sign/model.sdf -sdf -model ONEWAY_F -x 5.3557 -y 0.1132 -z 0.1099 -R 0 -P 0 -Y -0.007836"/>

</launch>
