<?xml version="1.0" encoding="UTF-8"?>

<launch> 
  
    <!-- PEDESTRIAN OBSTACLES -->
    <node
        name  = "PED_OBJ_KL"
        pkg   = "gazebo_ros"
        type  = "spawn_model"
        args  = "-file $(find models_pkg)/pedestrian_object/model.sdf -sdf -model PED_OBJ_KL -x 9.2523 -y 4.4598 -z 0 -R 0 -P 0 -Y 3.141591"/>

    <node
        name  = "PED_OBJ_MN"
        pkg   = "gazebo_ros"
        type  = "spawn_model"
        args  = "-file $(find models_pkg)/pedestrian_object/model.sdf -sdf -model PED_OBJ_MN -x 1.4911 -y 10.4880 -z 0 -R 0 -P 0 -Y 3.141591"/>
	
    <node
        name  = "PED_OBJ_AD_H"
        pkg   = "gazebo_ros"
        type  = "spawn_model"
        args  = "-file $(find models_pkg)/pedestrian_object/model.sdf -sdf -model PED_OBJ_AD_H -x 4.3815 -y 7.7944 -z 0 -R 0 -P 0 -Y 4.712391"/>


</launch>
